aiogram
# uvloop # Uncomment if you are working on Linux
ujson
aiohttp[speedups]
aiohttp[speedups]==3.9.5 
aiodns

# aiogram 
# uvloop 
# ujson  
# cchardet
# aiodns

structlog
pydantic
fluent.runtime
fluent.syntax
colorama

# aiosqlite
# asyncpg
# motor  
# pyzmq  
# piccolo  
# aql  
# httpx  
# aiofiles  
# aioamqp  
# aiocache  
# aiopath 
